<%= provide(:title,'Log in') %>

<h1>Log in</h1>


<div class="row">
    <div class="col-md-6 col-md-offset-3" >
        <%= form_for(:session,url: login_path) do |f| %>
            
            <!--メールアドレス入力フォーム-->
            <%= f.label :email %>
            <%= f.email_field :email, class:'form-control' %>
            
            <!--パスワード入力フォーム-->
            <%= f.label :password %>
            <%= f.password_field :password, class:"form-control" %>
            
            <!--送信ボタン-->
            <%= f.submit "Log in",class:"btn btn-primary" %>
            
        <% end %>
        
        <p>New user?<%= link_to "Sign up now" , signup_path %></p>
    </div>
</div>